  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

   <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

   <p class="align-self-center">
    <%= link_to "Destroy Comment", [comment.article, comment],
                                    method: :delete, class: "btn btn-danger",
                                    data: { confirm: "Are you sure?" } %>
  </p>